<article class="recipe-card">
  <div class="card-image">
    <picture>
      <source media="(min-width: 768px)" [srcset]="recipe().image.large">
      <img [src]="recipe().image.small" [alt]="recipe().title">
    </picture>
  </div>
  <div class="card-body">
    <h3>{{ recipe().title }}</h3>
    <p class="card-overview">{{ recipe().overview }}</p>
    <div class="card-meta">
      <div class="meta-row">
        <span class="meta-item">
          <img src="assets/images/icon-servings.svg" alt="">
          Servings: {{ recipe().servings }}
        </span>
        <span class="meta-item">
          <img src="assets/images/icon-prep-time.svg" alt="">
          Prep: {{ recipe().prepMinutes }} mins
        </span>
      </div>
      <div class="meta-row">
        <span class="meta-item">
          <img src="assets/images/icon-cook-time.svg" alt="">
          Cook: {{ recipe().cookMinutes }} mins
        </span>
      </div>
    </div>
    <button class="btn-view-recipe">View Recipe</button>
  </div>
</article>
